<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Kidney Stone Prediction</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- owl carousel style -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.2.4/assets/owl.carousel.min.css" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
      <!-- style css -->
      <link rel="stylesheet"  href="{{ url_for('static', filename='css/style.css') }}" />
      <!-- Responsive-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />
      <!-- fevicon -->
      <link rel="icon" href="{{ url_for('static', filename='images/fevicon.png') }}" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css') }}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets --> 
      <link rel="stylesheet" href="static/css/owl.carousel.min.css">
      <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
     <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
   </head>
   <body>
      <!--header section start -->
      <form action="{{ url_for('predict')}}" method="post" enctype = "multipart/form-data">
      <div class="header_section">
         <div class="container">
            <nav class="navbar navbar-dark bg-dark">
               <a class="logo" href="index.html"><img src="{{ url_for('static', filename='images/logo.jpg') }}" height="100" width="100"></a>
               
               <!---------->
               <div class="collapse navbar-collapse" id="navbarsExample01">
                  <ul class="navbar-nav mr-auto">
                     <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="category.html">Category</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="products.html">Products</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="clients.html">Client</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact Us</a>
                     </li>
                  </ul>
               </div>
            </nav>
         </div>
         <!--banner section start -->
         <div class="banner_section layout_padding">
            <div id="my_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="taital_main">
                                 <h4 class="banner_taital"><span class="font_size_90">Kidney</span> Stone Classification</h4>
                                 <p class="banner_text">An early diagnosis of Kidney conditions can save a life.</p>
                                 
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div><img src="static/images/img-doctor.jpg" class="image_1"></div>
                           </div>
                        </div>
                        <div class="button_main"><button class="all_text">Scan Image</button><input type="file" class="Enter_text" placeholder="Upload File" name="myfile"><button class="search_text" type="submit">Predict</button></div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="taital_main">
                                 <h4 class="banner_taital"><span class="font_size_90">Kidney</span> Stone Classification</h4>
                                 <p class="banner_text">An early diagnosis of Kidney conditions can save a life.</p>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div><img src="static/images/img-doctor.jpg" class="image_1"></div>
                           </div>
                        </div>
                        <div class="button_main"><button class="all_text">Scan Image</button><input type="file" class="Enter_text" placeholder="Enter keywords" name="myfile"><button class="search_text" type="submit">Predict</button></div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="taital_main">
                                 <h4 class="banner_taital"><span class="font_size_90">Kidney</span> Stone Classification</h4>
                                 <p class="banner_text">An early diagnosis of Kidney conditions can save a life.</p>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div><img src="static/images/img-doctor.jpg" class="image_1"></div>
                           </div>
                        </div>
                        <div class="button_main"><button class="all_text">Scan Image</button><input type="file" class="Enter_text" placeholder="Enter keywords" name="myfile"><button class="search_text" type="submit">Predict</button></div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
               <i class=""><img src="static/images/left-icon.png"></i>
               </a>
               <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
               <i class=""><img src="static/images/right-icon.png"></i>
               </a>
            </div>
         </div>
         <!--banner section end -->
      </div>
      <!--header section end -->
      <!--category section start -->
      <div class="container">
         <div class="category_section">
            <div class="row">
               <div class="col-lg-2 col-sm-12">
                  <h1 class="category_text">Category</h1>
               </div>
               <div class="col-lg-10 col-sm-12 main">
                  <div class="col">
                     <div class="box_main">
                        <div class="icon_1"></div>
                        <h4 class="fashion_text active">{{ prediction_text }}</h4>
                     </div>
                  </div>
                  
                 
                  
                  
               </div>
            </div>
         </div>
      </form>
      <!-- category section end -->
      <!-- beauty product section start -->
      
      <!-- beauty product section end -->
      <!-- product section start -->
      
      <!-- product section end -->
      <!-- client section start -->
            <div class="copyright_section">
               <h1 class="copyright_text">
               Copyright 2020 All Right Reserved <a href="https://html.design"> Free Html Templates</a>
            </div>
         </div>
      </div>
      <!-- footer section end -->
      <!-- Javascript files-->
      <script src="static/js/jquery.min.js"></script>
      <script src="static/js/popper.min.js"></script>
      <script src="static/js/bootstrap.bundle.min.js"></script>
      <script src="static/js/jquery-3.0.0.min.js"></script>
      <script src="static/js/plugin.js"></script>
      <!-- sidebar -->
      <script src="static/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="static/js/custom.js"></script>
      <!-- javascript --> 
      <script src="static/js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script> 
      <script type="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2//2.0.0-beta.2.4/owl.carousel.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
      <script src="../../assets/js/vendor/popper.min.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
   </body>
</html>

